In [7]:
import numpy as np
import pandas as pd
import plotly.graph_objects as go

In [2]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')
greeks = pd.read_csv('./data/greeks.csv')
sample_submission = pd.read_csv('./data/sample_submission.csv')

In [3]:
train.shape, test.shape, greeks.shape, sample_submission.shape

((617, 58), (5, 57), (617, 6), (5, 3))

In [4]:
train.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FL,FR,FS,GB,GE,GF,GH,GI,GL,Class
0,000ff2bfdfe9,0.209377,3109.03329,85.200147,22.394407,8.138688,0.699861,0.025578,9.812214,5.555634,...,7.298162,1.73855,0.094822,11.339138,72.611063,2003.810319,22.136229,69.834944,0.120343,1
1,007255e47698,0.145282,978.76416,85.200147,36.968889,8.138688,3.632190,0.025578,13.517790,1.229900,...,0.173229,0.49706,0.568932,9.292698,72.611063,27981.562750,29.135430,32.131996,21.978000,0
2,013f2bd269f5,0.470030,2635.10654,85.200147,32.360553,8.138688,6.732840,0.025578,12.824570,1.229900,...,7.709560,0.97556,1.198821,37.077772,88.609437,13676.957810,28.022851,35.192676,0.196941,0
3,043ac50845d5,0.252107,3819.65177,120.201618,77.112203,8.138688,3.685344,0.025578,11.053708,1.229900,...,6.122162,0.49706,0.284466,18.529584,82.416803,2094.262452,39.948656,90.493248,0.155829,0
4,044fb8a146ec,0.380297,3733.04844,85.200147,14.103738,8.138688,3.942255,0.054810,3.396778,102.151980,...,8.153058,48.50134,0.121914,16.408728,146.109943,8524.370502,45.381316,36.262628,0.096614,1

In [5]:
greeks.head()

             Id Alpha Beta Gamma Delta    Epsilon
0  000ff2bfdfe9     B    C     G     D  3/19/2019
1  007255e47698     A    C     M     B    Unknown
2  013f2bd269f5     A    C     M     B    Unknown
3  043ac50845d5     A    C     M     B    Unknown
4  044fb8a146ec     D    B     F     B  3/25/2020

In [6]:
sample_submission.head()

             Id  class_0  class_1
0  00eed32682bb      0.5      0.5
1  010ebe33f668      0.5      0.5
2  02fa521e1838      0.5      0.5
3  040e15f562a2      0.5      0.5
4  046e85c7cc7f      0.5      0.5

In [18]:
test.head()

,Id,AB,AF,AH,AM,AR,AX,AY,AZ,BC,...,FI,FL,FR,FS,GB,GE,GF,GH,GI,GL
0,00eed32682bb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,010ebe33f668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,02fa521e1838,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,040e15f562a2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,046e85c7cc7f,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
for col in train.columns:
    if col in ['Id', 'Class']:
        continue

    fig = go.Figure()
    fig.add_trace(go.Histogram(x=train[col], name=f'Feature {col}'))
    fig.update_layout(xaxis_title_text='Value', yaxis_title_text='Count')
    fig.write_image(f'features_distrs/{col}.png', scale=2)

In [10]:
train_0 = train.loc[train.Class == 0]
train_1 = train.loc[train.Class == 1]
train_0.shape, train_1.shape

((509, 58), (108, 58))

In [16]:
for col in train.columns:
    if col in ['Id', 'Class']:
        continue

    fig = go.Figure()
    fig.add_trace(go.Histogram(x=train_0[col], name=f'Class 0', nbinsx=20, histnorm='probability'))
    fig.add_trace(go.Histogram(x=train_1[col], name=f'Class 1', nbinsx=20, histnorm='probability'))
    fig.update_layout(barmode='overlay', xaxis_title_text='Value', yaxis_title_text='Probability')
    fig.update_traces(opacity=0.75)
    fig.write_image(f'features_distrs_by_classes/{col}.png', scale=2)

In [17]:
for col in ['Alpha', 'Beta', 'Gamma', 'Delta']:
    print(f'{col}: {greeks[col].unique()}')

Alpha: ['B' 'A' 'D' 'G']
Beta: ['C' 'B' 'A']
Gamma: ['G' 'M' 'F' 'N' 'E' 'H' 'A' 'B']
Delta: ['D' 'B' 'C' 'A']

In [19]:
train['EJ'].unique()

array(['B', 'A'], dtype=object)